<html lang="nl">
<head>
    <title>Thuis</title>
    <style>
        body {
            background: lightgray;
            font-size: 16px;
        }

        h1 {
            text-align: center;
        }

        .inputform {
            border: 1px solid black;
            padding: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Thuis</h1>
{% if not pod %}
<div class="inputform">
    <form action="/thuis/pod" method="POST">
        <label for="pod">POD</label>
        <input id="pod" name="pod" type="text" value="">
        <input type="submit" value="Verstuur">
    </form>
    <p>Voor de werking is het nummer van de POD nodig. Die is nog niet bekend.</p>
</div>
{% elif not jsessionid and (not userid or not password) %}
<div class="inputform">
    <form action="/thuis/login" method="POST">
        <label for="userid">E-mailadres</label>
        <input id="userid" name="userid" type="text" value="">
        <br/>
        <label for="password">Wachtwoord</label>
        <input id="password" name="password" type="password" value="">
        <br/>
        <label for="savelogin">Bewaar de gebruiker</label>
        <input id="savelogin" name="savelogin" type="checkbox" checked>
        <br/>
        <input type="submit" value="Login">
    </form>
    <p>Inloggen bij Somfy.</p>
</div>
{% else %}
<p>Pod: {{pod}}</p>
<p>JSessionid: {{jsessionid}}</p>
<p>Token: {{token}}</p>
<p><a href="/thuis/status">Status van de schermen</a></p>
<p><a href="/thuis/tokens">Beheer tokens</a></p>
{% endif %}
</body>
</html>
