<html lang="nl">
<head>
    <title>Thuis</title>
    <style>
        body {
            background: lightgray;
            font-size: 16px;
        }

        h1 {
            text-align: center;
        }

        .inputform {
            border: 1px solid black;
            padding: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Thuis</h1>
{% if not pod %}
<div class="inputform">
    <form action="/thuis/pod" method="POST">
        <label for="pod">POD
            <input name="pod" type="text" value="">
        </label>
        <input type="submit" value="Verstuur">
    </form>
    <p>Voor de werking is het nummer van de POD nodig. Die is nog niet bekend.</p>
</div>
{% elif not jsessionid %}
<div class="inputform">
    <form action="/thuis/login" method="POST">
        <label for="userid">E-mailadres
            <input name="userid" type="text" value="">
        </label><br/>
        <label for="password">Wachtwoord
            <input name="password" type="password" value="">
        </label><br/>
        <label for="savelogin">Bewaar de gebruiker
            <input name="savelogin" type="checkbox" checked>
        </label><br/>
        <input type="submit" value="Login">
    </form>
    <p>Inloggen bij Somfy.</p>
</div>
{% else %}
<p>Pod: {{pod}}</p>
<p>JSessionid: {{jsessionid}}</p>
<p><a href="/thuis/status">Status van de schermen</a></p>
<p><a href="/thuis/tokens">Beheer tokens</a></p>
{% endif %}
</body>
</html>
