<!DOCTYPE html>
<html lang="nl"
      xmlns="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<head>
    <meta charset="UTF-8">
    <meta content="Pagina voor instellingen." lang="nl-NL" name="description">
    <meta property="og:image" content="https://vanderiethattem.nl/img/hattemlogo.png"/>
    <meta property="og:title" content="Thuis"/>
    <title>Instellingen</title>
    <style>
        .menu-instellingen, .menu-instellingen:hover {
            color: #fff !important;
            background-color: #2196F3 !important
        }
    </style>
</head>
<body>
{% include "menu.html" %}
<div class="w3-container w3-blue">
    <h1>Instellingen</h1>
</div>
<div class="w3-card-4">
    <div class="w3-margin w3-card-4">
        <div class="w3-container w3-blue">
            <h2>Tokens</h2>
        </div>
        <table class="w3-table-all w3-centered">
            <thead>
            <tr class="w3-light-grey">
                <th>Label</th>
                <th>Pod</th>
                <th>Start</th>
                <th>UUID</th>
                <th>Delete</th>
            </tr>
            </thead>
            {% for token in tokens %}
            <tr>
                <td>{{token['label']}}</td>
                <td>{{token['pod']}}</td>
                <td>{{token['start']}}</td>
                <td>{{token['uuid']}}</td>
                <td>
                    <form class="w3-container" action="/thuis/instellingen" method="POST">
                        <input name="actie" type="hidden" value="delete">
                        <input name="uuid" type="hidden" value="{{token['uuid']}}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="w3-margin w3-card-4">
        <form class="w3-container" action="/thuis/instellingen" method="POST">
            <label for="label">Label</label>
            <input id="label" name="label" type="text" placeholder="Label"/>
            <input name="actie" type="hidden" value="create">
            <input class="w3-btn w3-blue" type="submit" value="Maak token">
        </form>
    </div>
</div>
<div class="w3-margin w3-card-4 w3-quarter">
    <div class="w3-container w3-blue">
        <h2>POD</h2>
    </div>
    <form class="w3-container" action="/thuis/instellingen" method="POST">
        <input name="actie" type="hidden" value="updatepod">
        <label for="pod">POD nr</label>
        <input class="w3-input" id="pod" name="pod" type="text" value="{{pod}}">
        <input class="w3-btn w3-blue" type="submit" value="Verstuur">
    </form>
    {% if not pod %}
    <div class="w3-container w3-blue">
        <p>Voor de werking is het nummer van de POD nodig. Die is nog niet bekend.</p>
    </div>
    {% endif %}
</div>
<div class="w3-margin w3-card-4 w3-quarter">
    <div class="w3-container w3-blue">
        <h2>Somfy-login</h2>
    </div>
    <form class="w3-container" action="/thuis/instellingen" method="POST">
        <input name="actie" type="hidden" value="login">
        <label for="jsessionid">JSessionid</label>
        <input class="w3-input" id="jsessionid" name="jsessionid" type="text" value="{{jsessionid}}" readonly>
        <label for="userid">E-mailadres</label>
        <input class="w3-input" id="userid" name="userid" type="text" value="{{userid}}">
        <label for="password">Wachtwoord</label>
        <input class="w3-input" id="password" name="password" type="password" value="{{password}}">
        <input class="w3-check" id="savelogin" name="savelogin" type="checkbox" checked>
        <label for="savelogin">Bewaar de gebruiker</label>
        <br/>
        <input class="w3-btn w3-blue" type="submit" value="Login">
    </form>
    {% if not userid or not password %}
    <div class="w3-container w3-blue">
        <p>Inloggen bij Somfy.</p>
    </div>
    {% endif %}
</div>
<div class="w3-margin w3-card-4 w3-quarter">
    <div class="w3-container w3-blue">
        <h2>HUE User</h2>
    </div>
    <form class="w3-container" action="/thuis/instellingen" method="POST">
        <input name="actie" type="hidden" value="updatehueuser">
        <label for="hueuser">User voor de hue</label>
        <input class="w3-input" id="hueuser" name="hueuser" type="text" value="{{hueuser}}">
        <input class="w3-btn w3-blue" type="submit" value="Verstuur">
    </form>
    {% if not hueuser %}
    <div class="w3-container w3-orange">
        <p>Voor de werking is een userid voor de HUE-bridge nodig. Die is nog niet bekend.</p>
    </div>
    {% endif %}
</div>
<div class="w3-margin w3-card-4 w3-quarter">
    <div class="w3-container w3-blue">
        <h2>HUE IP-adres</h2>
    </div>
    <form class="w3-container" action="/thuis/instellingen" method="POST">
        <label for="hueip">Adres</label>
        <input name="actie" type="hidden" value="updatehueip">
        <input class="w3-input" id="hueip" name="hueip" type="text" value="{{hueip}}">
        <input class="w3-btn w3-blue" type="submit" value="Verstuur">
    </form>
    {% if not hueuser %}
    <div class="w3-container w3-orange">
        <p>Voor de werking is het IP-adres van de HUE-bridge nodig. Die is nog niet bekend.</p>
    </div>
    {% endif %}
</div>
<div class="w3-margin w3-card-4 w3-quarter">
    <div class="w3-container w3-blue">
        <h2>Afmetingen grid voor lampen</h2>
    </div>
    <form class="w3-container" action="/thuis/instellingen" method="POST">
        <input name="actie" type="hidden" value="updategrid">
        <label for="gridbreedte">Breedte</label>
        <input class="w3-input" id="gridbreedte" name="gridbreedte" type="text" value="{{gridbreedte}}">
        <label for="gridhoogte">Hoogte</label>
        <input class="w3-input" id="gridhoogte" name="gridhoogte" type="text" value="{{gridhoogte}}">
        <input class="w3-btn w3-blue" type="submit" value="Verstuur">
    </form>
</div>
<div class="w3-margin w3-card-4 w3-quarter">
    <div class="w3-container w3-blue">
        <h2>Instellingen voor aan/uit van lampen</h2>
    </div>
    <form class="w3-container" action="/thuis/instellingen" method="POST">
        <input name="actie" type="hidden" value="updateautolampen">
        <label for="zonsterkteaan">Zonsterkte aan</label>
        <input class="w3-input" id="zonsterkteaan" name="zonsterkteaan" type="text" value="{{zonsterktelampenaan}}">
        <label for="zonsterkteuit">Zonsterkte uit</label>
        <input class="w3-input" id="zonsterkteuit" name="zonsterkteuit" type="text" value="{{zonsterktelampenuit}}">
        <label for="starttijd">Starttijd</label>
        <input class="w3-input" id="starttijd" name="starttijd" type="text" value="{{starttijd}}">
        <label for="eindtijd">Eindtijd</label>
        <input class="w3-input" id="eindtijd" name="eindtijd" type="text" value="{{eindtijd}}">
        <input class="w3-btn w3-blue" type="submit" value="Verstuur">
    </form>
</div>
</body>
</html>
