<!DOCTYPE html>
<html lang="nl"
      xmlns="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<head>
    <meta charset="UTF-8">
    <meta content="Pagina voor bediening van lampen." lang="nl-NL" name="description">
    <meta property="og:image" content="https://vanderiethattem.nl/img/hattemlogo.png"/>
    <meta property="og:title" content="Lampen"/>
    <title>Lampen</title>
</head>
<style>
    .Uit {
        color: white;
        background-color: red;
    }

    .Aan {
        color: white;
        background-color: limegreen;
    }
</style>
<body>
<div class="w3-center w3-card-4">
    <div class="w3-container w3-center w3-blue">
        <h1>Lampen</h1>
    </div>
    {% for lamp in lampen %}
    <div class="w3-panel w3-third w3-card-4">
        <div class="w3-container w3-blue">
            <h3>{{lamp['naam']}}</h3>
        </div>
        <div class="w3-container w3-card-4 {{lamp['status']}}">
            <div class="w3-container w3-half">
                <p>Status:</p>
            </div>
            <div class="w3-container w3-half">
                <p>{{lamp['status']}}</p>
            </div>
        </div>
        <div class="w3-container w3-card-4 {{lamp['status']}}">
            <div class="w3-container w3-half">
                <form action="/thuis/lampen" method="POST">
                    <input name="actie" type="hidden" value="lampaan">
                    <input name="lampid" type="hidden" value="{{lamp['id']}}">
                    <input class="w3-btn Aan" type="submit" value="Aan">
                </form>
            </div>
            <div class="w3-container w3-half">
                <form action="/thuis/lampen" method="POST">
                    <input name="actie" type="hidden" value="lampuit">
                    <input name="lampid" type="hidden" value="{{lamp['id']}}">
                    <input class="w3-btn Uit" type="submit" value="Uit">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="w3-container w3-center w3-card-4">
        <p class="w3-center"><a href="/thuis">Terug</a></p>
    </div>
</div>
</body>
</html>