<!DOCTYPE html>
<html lang="nl"
      xmlns="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<head>
    <meta charset="UTF-8">
    <meta content="Pagina voor bediening van schermen." lang="nl-NL" name="description">
    <meta property="og:image" content="https://vanderiethattem.nl/img/hattemlogo.png"/>
    <meta property="og:title" content="Schermen"/>
    <title>Schermen</title>
    <style>
        .menu-schermen, .menu-schermen:hover {
            color: #fff !important;
            background-color: #2196F3 !important
        }
    </style>
</head>
<body>
{% include "menu.html" %}
<div class="w3-center w3-card-4">
    <div class="w3-container w3-center w3-blue">
        <h1>Schermen</h1>
    </div>
    {% for scherm in schermen %}
    <div class="w3-panel w3-half w3-card-4">
        <div class="w3-container w3-blue">
            <h3>{{scherm['label']}}</h3>
        </div>
        <div class="w3-container w3-card-4">
            <div class="w3-container w3-half">
                <p>Percentage gesloten:</p>
            </div>
            <div class="w3-container w3-third">
                <p>{{scherm['percentage']}}</p>
            </div>
        </div>
        <div class="w3-container w3-padding-16 w3-card-4">
            <form action="/thuis/schermen" method="POST">
                <input name="actie" type="hidden" value="zetscherm">
                <input name="device" type="hidden" value="{{scherm['device']}}">
                <label class="w3-third" for="percentage">Nieuw:</label>
                <input class="w3-input w3-quarter w3-border w3-margin-right" id="percentage" name="percentage"
                       type="text" size="3" maxlength="3">
                <input class="w3-btn w3-third w3-blue" type="submit" value="Verplaats">
            </form>
        </div>
        <div class="w3-container w3-card-4">
            <div class="w3-container w3-half">
                <form action="/thuis/schermen" method="POST">
                    <input name="actie" type="hidden" value="zetscherm">
                    <input name="device" type="hidden" value="{{scherm['device']}}">
                    <input id="percentageopen" name="percentage" type="hidden" value="0">
                    <input class="w3-btn w3-blue" type="submit" value="Open">
                </form>
            </div>
            <div class="w3-container w3-half">
                <form action="/thuis/schermen" method="POST">
                    <input name="actie" type="hidden" value="zetscherm">
                    <input name="device" type="hidden" value="{{scherm['device']}}">
                    <input id="percentagesluit" name="percentage" type="hidden" value="100">
                    <input class="w3-btn w3-blue" type="submit" value="Sluit">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="w3-panel w3-margin w3-card-4">
        <div class="w3-container w3-blue">
            <h2>Acties</h2>
        </div>
        <div class="w3-container w3-third w3-card-4">
            <form action="/thuis/schermen" method="POST">
                <input name="actie" type="hidden" value="sluitalles">
                <input class="w3-btn w3-blue" type="submit" value="Sluit alles">
            </form>
        </div>
        <div class="w3-container w3-third w3-card-4">
            <form action="/thuis/schermen" method="POST">
                <input name="actie" type="hidden" value="openalles">
                <input class="w3-btn w3-blue" type="submit" value="Open alles">
            </form>
        </div>
        <div class="w3-container w3-third w3-centered w3-card-4">
            <form action="/thuis/schermen" method="POST">
                <input name="actie" type="hidden" value="ververs">
                <input class="w3-btn w3-blue" type="submit" value="Ververs schermen">
            </form>
        </div>
        <div class="w3-container w3-center w3-card-4">
            <p class="w3-center">Windsnelheid {{windbft}} bft</p>
        </div>
        <div class="w3-container w3-center w3-card-4">
            <p class="w3-center"><a href="/thuis">Terug</a></p>
        </div>
    </div>
</div>
</body>
</html>
